body {
    background-color: #ffe6f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 450px;
    margin: 80px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 15px #f5a8c9;
    text-align: center;
}

h1 {
    color: #ff69b4;
    font-size: 26px;
    margin-bottom: 25px;
    font-weight: bold;
}

label {
    font-weight: bold;
    color: #7a004e;
}

input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #7a004e;
    border-radius: 5px;
}

button {
    background-color: #ff69b4;
    color: white;
    padding: 12px 25px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 5px 18px rgba(255,105,180,0.4);
}

button:hover {
    background-color: #e0559e;
}

.resultado {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
}
